.main {
  margin: 0 auto;
}

.logo {
  color: inherit;
  font-weight: 700;
  font-family: monospace;
  letter-spacing: .3rem;
  text-decoration: none;
}

.appLink {
  color: white;
  display: block;
}

.settingsMenu {
  margin-top: 45px;
}
